@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.text-hello {
    background: linear-gradient(to right, #6d6eff, #8a2be2, #ff69b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #616161;
}

.dark .text-hello {
    background: linear-gradient(to right, #a0c4ff, #8e9bff, #c77dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d1d1d1;
}

.font-hello {
    font-size: 3rem;
    font-weight: 500;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/* Pour les divs spécifiques */
.overflow-y-auto::-webkit-scrollbar {
  width: 0px !important;
  background: transparent;
}
.overflow-y-auto {
  scrollbar-width: none;
}
